/*    detailsuser*/
    #userdetails{
        background-color: white;
    }
/*    intro-content .container-info .gutters-sm .col-md-8 .text-secondary{
        margin-top: 6px;
    }
    intro-content .container-info .gutters-sm .col-md-8 h6{
        font-weight: bold;
        font-size: 15px;
    }*/
    /*enddetailsuser*/

